body { background: #333; color: #aaa; font-family: helvetica; }

a { color: #aaa; text-decoration: none; }
a:hover { color: #ddd; }

header { border: 2px solid #666; padding: 8px; border-radius: 10px; margin-bottom: 10px; }
header h1 { font-weight: normal; margin: 0 0 0.2em 0; font-family: times; font-size: 1.8em; }
header b { font-weight: normal; color: #ddd; }
header nav a, header nav span { margin-right: 5px; }
header a, table.metadata a { background: #222; padding: 2px; border-radius: 3px; font-size: 0.9em; }

table.metadata { margin: 10px 0; border: 2px solid #666; font-size: 0.9em; }
table.metadata th { color: #ddd; font-weight: normal; text-align: right; }

img.main-image { margin-bottom: 10px; }

.photo { margin: 0 10px 10px 0; text-align: center; height: 150px; float: left; }
