body { background: #444; color: #aaa; }
.photo { margin: 10px; text-align: center; height: 150px; float: left; }
.keyword { background: #555; margin-right: 10px;}

a { color: #aaa; }
a:hover { color: #ccc; }