body { background: #333; color: #aaa; font-family: helvetica; }

a { color: #aaa; text-decoration: none; }
a:hover { color: #ddd; }

header { border: 2px solid #666; padding: 8px; border-radius: 10px; margin-bottom: 10px; }
header h1 { font-weight: normal; margin: 0 0 0.2em 0; font-family: times; font-size: 1.8em; }
header b { font-weight: normal; color: #ddd; }
header nav a, header nav span { margin-right: 5px; }
header a, table.metadata a { background: #222; padding: 2px; border-radius: 3px; font-size: 0.9em; }

table.metadata { margin: 10px 0; border: 2px solid #666; font-size: 0.9em; }
table.metadata th { color: #ddd; font-weight: normal; text-align: right; }

img.main-image { margin-bottom: 10px; border: 2px solid black; }

div.photo-box { padding-bottom: 100px; }

div.photo-group h2 { font-size: 0.9em; font-weight: normal; margin: 0 0 5px 0; border-bottom: 1px solid #666; color: #666; }

div.photo { margin: 0 8px 8px 0; position: relative; width: 120px; height: 120px; float: left; }
div.photo a { display: block; position: absolute; width: 120px; height: 120px; overflow: hidden; line-height: 0;}
div.photo a:hover { left: -2px; top: -2px; width: auto; height: auto; border: 2px solid black; z-index: 1; }

div.mini-photo { margin: 0; width: 80px; height: 80px; float: left; background-position: top center; }

.clearfix:after { content: ""; display: table; clear: both; }
