<toppanel title="{{image.id}}">
    <a href="#/image/{{image.prev}}">&lt; Newer image</a>
    <span>This image</span>
    <a href="#/image/{{image.next}}">Older image &gt;</a>
</toppanel>

<img class="main-image" ng-src="scaled/1000/{{image.file}}"/>

<table class="metadata">
  <tr>
    <th>Keywords</th>
    <td>
      <span ng-repeat="keyword in image.keywords">
        <a href="#/images/keyword/{{keyword}}">{{keyword}}</a>&nbsp;
      </span>
    </td>
  </tr>
  <tr>
    <th>Full size</th>
    <td>{{image.width}}x{{image.height}}</td>
  </tr>
  <tr>
    <th>Time taken</th>
    <td>
      {{image.taken | date:'medium'}}
      <a href="#/images/month/{{image.month}}">(More from {{image.month}})</a>
    </td>
  </tr>
</table>
