<toppanel title="{{image.id}}">
    <a href="#/image/{{image.prev}}">&lt; Newer image</a>
    <span>This image</span>
    <a href="#/image/{{image.next}}">Older image &gt;</a>
    <span>Similar:</span>
    <span ng-repeat="keyword in image.keywords">
      <a href="#/images/keyword/{{keyword}}">{{keyword}}</a>
    </span>
    <a href="#/images/month/{{image.month}}">{{image.month | month}}</a>
</toppanel>

<img class="main-image" ng-src="scaled/1000/{{image.file}}"/>

<table class="metadata">
  <tr>
    <th>Keywords</th>
    <td>
      <span ng-repeat="keyword in image.keywords">
        <a href="#/images/keyword/{{keyword}}">{{keyword}}</a>&nbsp;
      </span>
    </td>
  </tr>
  <tr>
    <th>Full size</th>
    <td>
      <a href="original/{{image.file}}">Download {{image.width}}x{{image.height}}</a>
    </td>
  </tr>
  <tr>
    <th>Time taken</th>
    <td>{{image.taken | date:'medium'}}</td>
  </tr>
</table>
